body {
  font-family:Arial;
  background-image: url(/image/Events-page.jpg);
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(58, 57, 57);
  opacity: 2; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(58, 50, 50);
  opacity: 2;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(59, 56, 56);
  opacity: 2;
}

h2 {margin:5px;}

input[type=text] {
  margin:1px;
  background: inherit;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 5px 0;
}
button {
  margin:10px
}  
.container {
  width: 23%; 
  float: left;
  clear:right;
  margin:1%; 
  border-radius: 5px;
}
.sortable { 
  list-style-type: none; 
  margin:0; 
  padding:2px; 
  min-height:30px; 
  border-radius: 5px;
}
h2{
  text-align: center;
}
.sortable li { 
  margin: 3px 3px 3px 3px; 
  padding: 0.45em; 
  padding-left: 0em; 
  font-size: 1.4em; 
  height: 18px;
}
.sortable li span { 
  position: absolute; 
  margin-left: -1.3em; 
}
.card{
  background-color:white;
  border-radius:3px;
  cursor: pointer;
  top: 0px;
  box-shadow: 0 0 5px 0;
  background: inherit;
  backdrop-filter: blur(20px);
  margin: 0;
  text-align: center;
  transition: 0.1s;
}

.remove{
  background: inherit;
	color: rgb(51, 49, 49);
	cursor: pointer;
  border: none;
  outline: none;
  position: relative;
  top: -40px;
}

.add-button{
  padding: 0.75rem 1rem;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transition: .5s;
  margin: 0.2rem 0.25rem 0.25rem 0.25rem;
  border-radius: 25px;
  transition: 0.7s;
}


.connectedSortable{
  margin: 0.25rem;
}


@media only screen and (min-width: 300px){
  #new_text{
    padding: 1rem 0.5rem;
    outline: none;
    border: none;
    height: 8px;
    border-radius: 4px;
    width: 30px;
    margin: 0rem 0.35rem 0.1rem .55rem;
    transition: .5s;
    font-size: 1.15rem;
  }
}

@media only screen and (min-width: 400px){
  #new_text{
    padding: 1rem 0.5rem;
    outline: none;
    border: none;
    height: 8px;
    border-radius: 4px;
    width: 70px;
    margin: 0rem 0.35rem 0.1rem .55rem;
    transition: .5s;
    font-size: 1.15rem;
  }
}

@media only screen and (min-width: 600px){
  #new_text{
    padding: 1rem 0.5rem;
    outline: none;
    border: none;
    height: 8px;
    border-radius: 4px;
    width: 100px;
    margin: 0rem 0.35rem 0.1rem .55rem;
    transition: .5s;
    font-size: 1.15rem;
  }
}
@media only screen and (min-width: 1300px) {
  #new_text{
    padding: 1rem 0.5rem;
    outline: none;
    border: none;
    height: 8px;
    border-radius: 4px;
    width: 180px;
    margin: 0rem 0.35rem 0.1rem .55rem ;
    transition: .5s;
    font-size: 1.15rem;
  }
  
}
@media only screen and (min-width: 1500px){
  #new_text{
    padding: 1rem 0.5rem;
    outline: none;
    border: none;
    height: 8px;
    border-radius: 4px;
    width: 240px;
    margin: 0rem 0.35rem 0.1rem .55rem;
    transition: .5s;
    font-size: 1.15rem;
  }
}